.card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

@media (min-width: 940px) and (max-width: 1270px) {
  .card-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 620px) and (max-width: 940px) {
  .card-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 620px) {
  .card-list {
    grid-template-columns: 1fr;
  }
}
